<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraslucentAdmin</title>
    <link rel="stylesheet" href="./assets/css/modifyUser.css">
    <link rel="icon" href="./assets/images/letter-t.png" type="image/x-icon"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

  <div style="display: inline-flex; width: 100%; align-items: center; justify-content: center;">
    <img src="./assets/images/menu.png" class="menu-icon" id="openMenu">

     <div class="menu-box" id="menu">
     <div class="right-links">
         <a href="#" id="logoutButton">LOGOUT</a>
         <img src="./assets/images/close.png" id="closeMenu">
     </div>

     <div class="menu-links">
      <a href="#" id="homeButton">Home</a>
      <a href="#" id="usersSectionButton">Users Section</a>
      <a href="#" id="groupsSectionButton">Groups Section</a>
     </div>

  </div>
  </div>

<!--
    <h1 style="text-align: center"> PAGINA INFORMAZIONI UTENTE </h1>
     <% if(entries.length > 0) { %> 

     <div id="userInfo">
        <% for(let i = 0; i < entries.length ; i++){ %> 

            <% if(entries[i].type == "MEMBEROFGROUP"){%>
                <div class="entryRow" style="display: none;"> <span><%=entries[i].type%></span> &nbsp &nbsp <span contenteditable="true" id="<%=entries[i].type%>" class="entrySpanInfo"><%= entries[i].value %></span> </div>
                <% for(var j = 0; j < entries[i].value.length; j++){ %>
           <div class="entryRow""> <span><%=entries[i].type%></span> &nbsp &nbsp <span contenteditable="true" id="<%=entries[i].type%>" class="entrySpanInfo"> <%= entries[i].value[j] %> </span> <button class="deleteMemberOfBtnForStyle"  cn="<%=entries[i].value[j] %>"> <img src="./assets/images/delete.png" class="deleteMemberOfBtn" cn="<%=entries[i].value[j] %>"> </button></div>
           <% }
            }else if((entries[i].type == "cn")||(entries[i].type == "sn") ||(entries[i].type == "givenName")||(entries[i].type == "mail")){
                if(entries[i].local != true){%>
           <div class="entryRow"> <span><%=entries[i].type%></span> &nbsp &nbsp <span id="<%=entries[i].type%>" class="entrySpanInfo" contenteditable="true"> <%= entries[i].value %> </span> </div>
           <% }else{ %>
            <div class="entryRow" local="true"> <span><%=entries[i].type%></span> &nbsp &nbsp <span id="<%=entries[i].type%>" class="entrySpanInfo" contenteditable="true"> <%= entries[i].value %> </span> </div>
        <% }}} %> 
        

     <% } else { %> 
        <span> Nessuna entries disponibile per l'utente </span>
    <% } %>


    <div style="text-align: center"> <button id="saveBtn" >SALVA </button> </div> <al click su questo bottone faccio la modifica dell'utente -->

     <!--/div-->



     <div class="container">
        <div class="main-body" >
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body" id="containerUserInfo">
                        <% if(entries.length > 0) { %> 
                            <% for(let i = 0; i < entries.length ; i++){%>
                              <% if(entries[i].type == "MEMBEROFGROUP"){%>
                                <% for(var j = 0; j < entries[i].value.length; j++){ %>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0" style="font-size: 29px;text-transform: uppercase;margin-bottom: 3px;"><%=entries[i].type%></h6>
                                    </div>
                                    <% if(entries[i].value[j] != null){if(entries[i].value[j].includes("Gruppi Locali")){%>
                                    <div class="col-sm-9 text-secondary entrySpanInfo" id="<%=entries[i].type%>" style="margin-top: 1rem; display: inline"><%=entries[i].value[j]%></div>
                                    <button class="deleteMemberOfBtnForStyle"  cn="<%=entries[i].value[j]%>"> <img src="./assets/images/delete.png" class="deleteMemberOfBtn" cn="<%=entries[i].value[j] %>" style="cursor: pointer"> </button>
                                  </div>
                                  <%}else{%>
                                    <div class="col-sm-9 text-secondary entrySpanInfo" id="<%=entries[i].type%>" style="margin-top: 1rem; display: inline"><%=entries[i].value[j]%></div>
                                </div>
                                    <% }} %>
                                  <hr></hr>
                           <% }} else {%>
                            <%if(entries[i].local != true){%>
                                  <div class="row">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0" style="font-size: 29px;text-transform: uppercase;"><%=entries[i].type%></h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary entrySpanInfo" contenteditable="true" id="<%=entries[i].type%>" style="margin-top: 1rem; outline: none; border: none"><%=entries[i].value%></div>
                                  </div>
                                  <hr></hr>
                        <%}else{%>
                          <div class="row" style="background-color: red;">
                            <div class="col-sm-3">
                              <h6 class="mb-0" style="font-size: 29px;text-transform: uppercase;"><%=entries[i].type%></h6>
                            </div>
                            <div class="col-sm-9 text-secondary entrySpanInfo" contenteditable="true" id="<%=entries[i].type%>" style="margin-top: 1rem; outline: none; border: none"><%=entries[i].value%></div>
                          </div>
                          <hr></hr>
                        <%}}}} %>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0" style="font-size: 29px;text-transform: uppercase;">AGGIUNGI AD UN GRUPPO</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <label for="standard-select" style="margin-top: 5px;">Gruppi Locali Esistenti</label>
                            <div class="select"style="margin-top: 5px;" >
                              <select id="standard-select"> 
                                <% for(var j = 0; j < groups.length; j++){ %>
                                <option value="<%= groups[j].cn %>"> <%= groups[j].cn %> </option>
                                <% } %>
                              </select>
                            </div>
                            <!--button id="addGroupButton">AGGIUNGI</button-->
                            <a href="#" class="table-link editButton" id="addGroupButton" >
                              AGGIUNGI
                             <!--img src="./assets/images/floppy-disk.png"-->
                           </a>
                        <hr></hr>
                        <a href="#" class="table-link" id="backButton" style="background-color: #337ab7;;">
                        <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i></span>
                        </a>
                    </div>
                    

                  </div>
                </div>   
        </div>

        <div style="display: flex; align-items: center; justify-content: center;"> <!--button id="saveBtn" >SALVA </button--> </a>
        <a href="#" class="table-link editButton" id="bottonSave">
          SALVA
          <!--img src="./assets/images/floppy-disk.png"-->
        </a>
        </div>
          <!-- al click su questo bottone faccio la modifica dell'utente -->

     <script src="modifyUser.js"></script>
</body>
</html>